<div class="container">
    <div class="row">
        <div class="col-sm mt-2">
            @Html.ActionLink("Главная", "Index", "Home", new { area = "" }, new { @class = "text-primary" }) / @ViewBag.Title
        </div>
    </div>
</div>

<h2 class="mt-4 mb-4">@ViewBag.Title</h2>
<div class="row">
    <div class="col-sm">
        <a class="text-dark">
            Научно-исследовательский институт по строительству трубопроводов "НИИСТ"<br /><br />
            196247, Россия, Москва, ул. Наметкина, 14, кор.2<br /><br />
            +7 (499) 495-45-81<br /><br />
        </a>
        <a href="mailto:info@niist.ru">info@niist.ru</a>
    </div>
    <div class="col-sm">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2250.6086007556232!2d37.55371665146773!3d55.6610162804334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54cd81034224f%3A0x52196d6826fe76db!2z0YPQuy4g0J3QsNC80LXRgtC60LjQvdCwLCAxNCDQutC-0YDQv9GD0YEgMiwg0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8sIDExNzQyMA!5e0!3m2!1sru!2ssk!4v1530130470334" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
