@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav">
        <li>
            <button type="button" class="btn btn-outline-secondary">
                @Html.ActionLink( User.Identity.GetUserName(), "Index", "Manage", null, new { title = "Manage", @class="" }) 
                    @if (User.IsInRole("admin"))
                    {
                        <span class="badge badge-dark">администратор</span>
                    }
                    else if (User.IsInRole("user"))
                    {
                        <span class="badge badge-dark">пользователь</span>
                    }
                    else
                    {
                        <span class="badge badge-dark">гость</span>
                    }
            </button>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><button type="button" class="ml-1 btn btn-outline-danger">Выйти</button></a></li>
    </ul>
    }
}
else
{
    <ul class="nav">
        <li>@Html.ActionLink("ВХОД", "Login", "Account", null, new { id = "loginLink", @class = "btn btn-outline-success my-2 my-sm-0" })</li>
        @*<li>@Html.ActionLink("ОФОРМИТЬ ДОСТУП", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-danger my-2 my-sm-0 ml-2" })</li>*@
    </ul>
}
